@use 'sass:map';

///////////////////////////////////
// Boostrap improvements //////////
///////////////////////////////////

.form-label {
  margin-bottom: 0 !important;
}

.col-form-label {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.help-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.input-group-text {
  margin-top: ($spacer * 0) !important;
}

label.form-label.required::after {
  content: ' *';
  color: $primary !important;
}

.icon-link-right {
  --bs-icon-link-transform: translateX(0.2rem);
}

.icon-link-left {
  --bs-icon-link-transform: translateX(-0.2rem);
}

///////////////////////////////////
// App-specific classes ///////////
///////////////////////////////////

// Home ///////////////////////////

.app-home-link {
  filter: brightness(90%);

  &:hover {
    filter: brightness(110%);
    box-shadow: 0 0 1rem 0.1rem var(--app-home-card-bg-color-hover);
    outline: none;
  }
}

// Others /////////////////////////

.app-skip-link {
  z-index: 900;
}

.app-env-dev {
  z-index: 1000;
  color: #031124;
  background: repeating-linear-gradient(
    45deg,
    #718de7,
    #718de7 10px,
    #93ace2 10px,
    #93ace2 20px
  );
}

.app-env-test {
  z-index: 1000;
  color: #082403;
  background: repeating-linear-gradient(
    45deg,
    #85e771,
    #85e771 10px,
    #ace293 10px,
    #ace293 20px
  );
}

.app-env-stag {
  z-index: 1000;
  color: #160701;
  background: repeating-linear-gradient(
    45deg,
    #e77171,
    #e77171 10px,
    #f88282 10px,
    #f88282 20px
  );
}
